<div id="sidebar">
  <section>
    <%= image_tag 'pz-headshot-2017-sm.jpg', alt: "Me", class: "sidebar-img" %>
    <h4>Hi there!</h4>
    <p>I'm Paul Zaich. Software Engineer <a href="http://www.learnup.com/">@Learnup</a>. Formerly co-founder <a href="https://workhands.us">@workhands</a>. Also <a href="https://www.25x50swim.com/">25x50</a>. Utilizing technology to empower labor.</p>
    <p>I live in San Francisco, CA with my lovely wife <a href="http://erinzaich.com">Erin</a> and our children Bennett and Delphine. You can find me surfing at Ocean Beach in my spare time.</p>
    <p></p>
    <div>
      <a href="https://twitter.com/pzaich">Twitter</a>
    </div>
    <div>
      <a href="https://github.com/pzaich">Github</a>
    </div>
    <p></p>
  </section>
  <section>
    <h4>Recent Posts</h4>
    <ul>
      <% blog.articles[0...3].each do |article| %>
        <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
      <% end %>
    </ul>
  </section>
</div>
